---
import Layout from '../layouts/Layout.astro';
import Sign from '../components/sign';
import Preload from '../components/preload';
---

<Layout title="Авторизация">
    <Preload client:only="react"/>
	<main class="text-center h-screen w-full flex items-center justify-center">
		<!-- <img src="" alt="wallp" class="fixed inset-0 w-full h-full object-cover -z-50 blur-sm "> -->
		<Sign>
	</main>
</Layout>

