---
import Layout from '../layouts/Layout.astro';
import Sign from '../components/sign';
import Preload from '../components/preload';
const user = Astro.locals.user;
if (user) {
	return Astro.redirect("/app");
}
---

<Layout title="Авторизация">
    <Preload client:only="react"/>
	<main class="text-center h-screen w-full flex items-center justify-center">
		<img src="/assets/bg.png" alt="wallp" class="fixed inset-0 w-full h-full object-cover -z-50 max-lg:hidden ">
		<Sign client:only="react"/>
	</main>
</Layout>

