---
import Layout from '../layouts/Layout.astro';
import Sign from '../components/sign';
import Preload from '../components/preload';
---

<Layout title="Авторизация">
    <Preload />
	<main class="text-center h-screen w-full flex items-center justify-center">
		<Sign>
	</main>
</Layout>

