---
import Layout from '../../layouts/Layout.astro';
import AppRouting from '../../components/app/routing';
const user = Astro.locals.user;
if (!user) {
	return Astro.redirect("/auth");
}
---

<Layout title="Главная">
	<main class="overflow-y-hidden">
		<AppRouting client:only="react" user={user}/>
	</main>
</Layout>

