---
interface Props {
	title: string;
  fixed?: boolean;
}

const { title, fixed = false } = Astro.props;

import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="ЛевелАп — общайся, играй, развивайся! Это новый игровой мессенджер для русскоязычных пользователей, объединяющий людей со всего мира." />
    <meta name="keywords" content="ЛевелАп, мессенджер, игры, общение, геймеры, чаты, голосовые каналы, игры онлайн" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    
    <!-- Open Graph для социальных сетей -->
    <meta property="og:title" content="ЛевелАп — новый игровой мессенджер" />
    <meta property="og:description" content="Общайся. Играй. Развивайся. ЛевелАп — это игровой мессенджер для русскоязычных геймеров." />
    <meta property="og:image" content="/assets/bg.png" />
    <!-- <meta property="og:url" content="https://levelup.ru" /> -->
    <meta property="og:type" content="website" />
    
    <!-- Twitter мета-теги -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="ЛевелАп — игровой мессенджер для геймеров" />
    <meta name="twitter:description" content="Общайся. Играй. Развивайся с ЛевелАп!" />
    <meta name="twitter:image" content="/images/levelup-twitter-preview.png" />

    <!-- Favicon и другие иконки -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.json" /> -->
    
    <!-- Генератор и авторское право -->
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="LevelUp Team" />
    
    <title>{title} | ЛевелАп — Общайся. Играй. Развивайся.</title>

    <ViewTransitions />
  </head>
  <body class={fixed ? "overflow-y-hidden" : ""}>
      <slot />
  </body>
</html>

